botbuilder==0.0.1
botbuilder-ai==4.14.2
botbuilder-azure==4.14.2
botbuilder-core==4.14.2
botbuilder-dialogs==4.14.2
botbuilder-schema==4.14.2
botframework-connector==4.14.2
botframework-streaming==4.14.2
Flask==2.1.0
python-dotenv==0.20.0
azure-ai-language-conversations==1.0.0
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.28
azure-core==1.26.0
azure-cosmos==3.2.0
azure-storage-blob==12.7.0
azure-storage-queue==12.1.5
